# POSTGRES_URL=postgres://neondb_owner:npg_N6TUHPLu2ohc@ep-curly-butterfly-a21s99ve-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require
DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiYmQwMjFiZWItYTZiOC00NDMyLWExMTItNThmNjk2YzkyYjhmIiwidGVuYW50X2lkIjoiMjk4NjljNjNiNzBjOTZkY2UwMjI0MjlkMWFiZmVhYWM1YTEwNGZjNmZjZDNjNDliYzc4ZDI0ZjA1NTBiNzM5YyIsImludGVybmFsX3NlY3JldCI6IjlkOGMwZDdlLWZhZTgtNGRhNi1hMDlhLWY3NTQzZjVjZDkyNiJ9.00gDaLoRxzqIJRiB4Nfcwe2-_Opqs7qvBnaw5erMpnk"
# POSTGRES_URL_NON_POOLING=postgres://neondb_owner:npg_N6TUHPLu2ohc@ep-curly-butterfly-a21s99ve.eu-central-1.aws.neon.tech/neondb?sslmode=require

NEXT_PUBLIC_API_URL=/api